.table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem auto;
  font-size: 0.9em;
}

.table-header {
  text-align: center;
  font-weight: bold;
  padding: 12px 15px;
}
.table-header th {
  padding: 12px 15px;
  padding-bottom: 24px;
}

.table-data {
  padding: 12px 15px;
  border-bottom: 1px solid #dddddd;
}
